@use "../../sass/abstracts" as *;

.category-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 7.5rem;

  @media only screen and (min-width: 35em) {
    flex-direction: row;
    gap: 0.625rem;
    justify-content: stretch;
    margin-bottom: 6rem;
  }

  @media only screen and (min-width: 90em) {
    gap: 1.875rem;
  }

  .category-box {
    position: relative;
    min-height: 13.5625rem;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 75%;

    &::before {
      content: "";
      width: 100%;
      display: block;
    }

    & div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      background-color: $clr-gray-ligther;
      border-radius: 8px;
    }

    & img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 9.1875rem;

      @media only screen and (min-width: 35em) {
        width: 9.6875rem;
      }

      @media only screen and (min-width: 64em) { 
        top: -10px;
        width: 55%; // maybe we can use vw
      }

      @media only screen and (min-width: 73em) {
        top: -20px;
      }
    }

    & h6 {
      @include fs-400;
      @include fw-bold;
      @include uppercase;
    }
  }
}
