@use "../../sass/abstracts" as *;

.category-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 7.5rem;

  .category-box {
    position: relative;
    min-height: 13.5625rem;

    display: grid;
    grid-template-rows: 1fr 75%;

    & div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      background-color: $clr-gray-ligther;
      border-radius: 8px;
    }

    & img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 45%;
    }

    & h6 {
        @include fs-400;
        @include fw-bold;
        @include uppercase;
    }
  }
}
