@use "../../sass/abstracts" as *;

.latest-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  color: $clr-white;
  margin-bottom: 7.5rem;

  @media only screen and (min-width: 35em) {
    margin-bottom: 6rem;
  }

  & figure {
    border-radius: 8px;
  }

  & h1 {
    @include fs-1000;
    @include fw-bold;
    @include uppercase;
  }

  & h4 {
    @include fs-700;
    @include fw-bold;
    @include uppercase;
  }

  & p {
    @include fs-400;
    @include fw-medium;
    color: $clr-white-75;
  }

  .zx9 {
    @include bg-orange-dark-2;
    position: relative;
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    padding-block: 3.4375rem;
    grid-template-rows: repeat(3, min-content);
    background-image: url(../../../public/images/home/desktop/pattern-circles.svg);
    background-position: center -123px;
    background-size: 558px;
    background-repeat: no-repeat;

    @media only screen and (min-width: 35em) {
      padding-top: 3.25rem;
      padding-bottom: 4rem;
      background-size: 135%;
      background-position: center -280px;
    }

    & h1 {
      width: 8ch;
    }

    & img {
      width: 53%;

      @media only screen and (min-width: 35em) {
        width: 28%;
      }
    }

    & p {
      max-width: 40ch;
    }

    & figcaption {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      text-align: center;
      padding-inline: 1.5rem;
      margin-top: 0.5rem;

      @media only screen and (min-width: 35em) {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
      }
    }

    // &__circles {
    //   position: absolute;
    //   width: 320px;
    //   aspect-ratio: 1;
    //   border-radius: 50%;
    //   border: .5px solid hsl(0 0% 85%);
    //   top: -2px;

    //   &::before {

    //   }
    // }
  }

  .zx7 {
    position: relative;
    color: $clr-black;

    & img {
      border-radius: 8px;
      width: 100%;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      top: 101px;
      left: 24px;

      @media only screen and (min-width: 35em) {
        left: 62px;
      }
    }
  }

  .yx1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: $clr-black;

    @media only screen and (min-width: 35em) {
      flex-direction: row;
      gap: 0.6875rem;
    }

    & img,
    & div {
      border-radius: 8px;
      width: 100%;
    }

    & div {
      background-color: $clr-gray-ligther;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding-block: 2.5625rem;
      padding-left: 1.5rem;
    }
  }
}
