@use "../../sass/abstracts" as *;

.quantity-btn {
  display: flex;
  justify-content: space-between;
  background-color: $clr-gray-ligther;
  font-size: $fs-200;
  font-weight: $fw-bold;
  padding: 1rem;
  width: 6rem;
  height: 2rem;

  button {
    border: none;
    cursor: pointer;
    width: 16px;
    height: 18px;
    color: $clr-black-25;
    // transition: all 0.1s ease-in;
    background-color: transparent;

    &:hover,
    &:active {
      color: $clr-orange-dark;
    }

    &:active {
      transform: scale(1.5);
    }
  }
}
