@use "../../sass/abstracts" as *;
//  Reset

//  https://piccalil.li/blog/a-modern-css-reset/

//  Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

//  Reset margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $fw-medium;
}

ul {
  padding: 0;
  margin: 0;
}

//  set up the body
body {
  font-family: $ff-serif;
  font-size: $fs-400;
  color: $clr-black;
  background-color: $clr-white;
  line-height: 1.5;
  min-height: 100vh;
}

//  make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

//  make form elements easier to work with
//  Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//  remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//  Set core root defaults
html,
html:focus-within {
  scroll-behavior: smooth;
}

main {
  padding-inline: 1.5rem;

  @media only screen and (min-width: 35em) {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 69.5rem) minmax(
        1rem,
        1fr
      );

    & > * {
      grid-column: 2;
    }
  }

  // @media only screen and (min-width: 73em) {
  //   display: grid;
  //   grid-template-columns: minmax(10.3125rem, 1fr) minmax(0, 70rem) minmax(
  //       10.3125rem,
  //       1fr
  //     );
  //   padding-inline: 0;

  //   & > * {
  //     grid-column: 2;
  //   }
  // }
}
