@use "../../sass/abstracts" as *;

.checkout-modal {
  position: absolute;
  top: 0;
  background-color: hsl(0 0% 0% / 0.4);
  z-index: 998;
  width: 100vw;
  height: 100%;
  padding-inline: 1.5rem;

  &__dialog {
    @include bg-white;
    width: 100%;
    border-radius: 8px;
    margin-top: 14rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 1.5rem;

    @media only screen and (min-width: 35em) {
      width: 33.75rem;
      margin-inline: auto;
      padding: 3rem;
    }
  }

  & img {
    width: fit-content;

    @media only screen and (min-width: 35em) {
      margin-bottom: .5rem;
    }
  }

  & h3 {
    @include fs-700;
    @include fw-bold;
    @include uppercase;

    & span {
      display: block;
    }
  }

  &__total-box {
    @include bg-black;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
    padding-inline: 1.5rem;
    padding-block: 1rem;

    @media only screen and (min-width: 35em) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-start-end-radius: 8px;
      border-end-start-radius: unset;
      width: 12.375rem;
      padding-block: 2.625rem;
    }
  }

  & h5 {
    @include fs-500;
    @include uppercase;
    color: $clr-white;
  }

  & h6 {
    @include fs-400;
    @include uppercase;
    color: $clr-white-50;
  }

  & p {
    color: $clr-black-50;

    @media only screen and (min-width: 35em) {
      margin-bottom: .5rem;
    }
  }

  &__breakdown {
    @media only screen and (min-width: 35em) {
      display: flex;
      align-items: stretch;
      margin-bottom: 1.5rem;
    }
  }

  &__items {
    padding: 1.5rem;
    @include bg-gray-ligther;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
    text-align: center;

    @media only screen and (min-width: 35em) {
      border-start-end-radius: unset;
      border-end-start-radius: 8px;
      flex: 1;
    }

    & button {
      margin-top: 0.75rem;
      text-transform: unset;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $clr-black-08;
    height: 65px;
    overflow: hidden;

    &--more {
      height: max-content;
    }
  }

  &__item {
    display: flex;
    justify-content: stretch;
    align-items: center;

    & img {
      width: 50px;
      border-radius: 8px;
    }

    & div:first-of-type {
      display: flex;
      flex-direction: column;
      text-align: left;
      flex-grow: 1;
      margin-left: 1rem;

      & strong {
        @include fs-400;
        @include fw-bold;
        @include uppercase;
        letter-spacing: 0;
      }

      & span {
        @include fs-300;
        @include fw-bold;
        @include uppercase;
        letter-spacing: 0;
        color: $clr-black-50;
      }
    }
  }

  &__item-qty {
    @include fs-300;
    @include fw-bold;
    letter-spacing: 0;
    color: $clr-black-50;
    align-self: flex-start;
    margin-top: 7px;
  }

  & a {
    width: 100%;
  }
}
