@use "../../sass/abstracts" as *;

.main-product {

  & img {
    border-radius: .5rem;
  }

  & h1 {
    @include fw-bold;
    @include fs-900;
  }

  & p {
    padding: 1.5rem 0;
    color: $clr-black-50;

    & span {
        color: $clr-orange-dark;
        letter-spacing: .5rem;
    }
  }

  & h3 {
    @include fw-bold;
  }

  & .wrapper{
    width: 300px;
    
    
    

    & .cart-add {
      width: calc(150px * 2);
      
      overflow: hidden;
      padding-top: 1.5rem;
      padding-bottom: 3rem;
      

      & .quantity-btn{
        float: left;
        
        height: 100%;
        margin-right: 1rem;
       
      }

      & .btn--primary {
        float: left;
        height: 33px;
        padding-top: 10px;
      }
    }
  }
}

/*
height: 90px;
overflow-x: auto;
background-color: yellow;


*/