@use "../../sass/abstracts" as *;

.header {
  &--category h1 {
    display: block;
    justify-self: center;
    margin-block: 2rem;

    @media only screen and (min-width: 35em) {
      margin-block: 6.125rem;
    }
  }

  &--home .hero {
    align-self: center;
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0, 24rem) minmax(
        1.5rem,
        1fr
      );
    grid-auto-rows: min-content;
    gap: 1.5rem;
    align-content: center;
    justify-items: center;
    text-align: center;

    & > * {
      grid-column: 2;
    }

    @media only screen and (min-width: 73em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      justify-items: start;
      text-align: left;

      & > * {
        grid-column: 1;
      }
    }
  }

  .hero {
    &__overline {
      @include fs-300;
      @include fw-regular;
      opacity: 0.5;
    }

    &__header {
      @include fs-1000;
      @include fw-bold;
      @include uppercase;

      &--2 {
        @include fs-900;
      }
    }

    &__body {
      @include fs-400;
      @include fw-medium;
      opacity: 0.5;
      max-width: 40ch;

      @media only screen and (min-width: 73em) {
        max-width: 45ch;
      }
    }

    & a {
      margin-top: 0.25rem;

      @media only screen and (min-width: 35em) {
        margin-top: 1rem;
      }
    }
  }
}
