@use "../../sass/abstracts" as *;

.about-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  margin-bottom: 7.5rem;

  @media only screen and (min-width: 35em) {
    margin-bottom: 6rem;
    gap: 4rem;
  }

  & h2 {
    @include fs-900;
    @include fw-bold;
    @include uppercase;

    & span {
        color: $clr-orange-dark;
    }
  }

  & p {
    color: $clr-black-50;
  }

  & div {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 62ch;
    align-self: center;
  }
}
