@use "../../sass/abstracts" as *;

.btn {
  @include fw-bold;
  @include fs-200;
  @include uppercase;

  display: inline-block;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding-block: 0.9375rem;
  line-height: 1;

  &--primary {
    color: $clr-white;
    background-color: $clr-orange-dark;
    transition: background-color 0.2s ease-in-out;
  }

  &--primary:hover,
  &--primary:focus {
    background-color: $clr-orange-ligth;
  }

  &--secondary {
    color: $clr-black;
    background-color: transparent;
    border: 1px solid $clr-black;
    transition: all 0.2s ease-in-out;
  }

  &--secondary:hover,
  &--secondary:focus {
    color: $clr-white;
    background-color: $clr-black;
  }

  &--tertiary {
    color: $clr-white;
    background-color: $clr-black;
    border: 1px solid $clr-black;
    transition: all 0.2s ease-in-out;
  }

  &--tertiary:hover,
  &--tertiary:focus {
    background-color: hsl(0 0% 30%);
    border-color: hsl(0 0% 30%);
  }
}

.link {
  @include fw-bold;
  @include fs-200;
  @include uppercase;
  letter-spacing: 0;

  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: hsl(0 0% 0% / 0.5);

  // transition: all 0.2s ease-in-out;
  width: fit-content;

  &:hover,
  &:active,
  &:focus {
    color: $clr-orange-dark;
    background-color: transparent;
  }

  &--arrow {
    @include fs-200;
    padding: 0 2rem;
    // min-height: 57px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 0.2em;
      right: 15px;
      width: 8px;
      border: 1px solid $clr-orange-dark;
    }

    &::before {
      transform: rotate(45deg);
      top: 0.4rem;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 0.4rem;
    }
  }

}
