@use "../../sass/abstracts" as *;

.radio-btn {
  display: block;
  position: relative;
  @include fs-300;
  @include fw-bold;
  @include bg-white;
  letter-spacing: 0.25px;
  padding: 1.125rem 1.1875rem 1.2rem 1.1875rem;
  padding-left: 3.25rem;
  border: 1px solid hsla(0, 0%, 81%, 1);
  border-radius: 8px;
  width: 100%;

  & input {
    display: none;
  }

  & span {
    position: absolute;
    border: 1px solid $clr-black-50;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 20px;
    left: 1rem;
  }

  & input:checked + span::after {
    content: "";
    @include bg-orange-dark;
    background-color: $clr-orange-dark;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transform: translate(25%, 22%);
  }

  &:hover,
  &--active {
    border-color: $clr-orange-dark;
  }
}
