@use "../../sass/abstracts" as *;

.features {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  margin-bottom: 5.5rem;

  & .features-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & .features-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & .in-box {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }

  & h2 {
    @include fs-600;
    @include fw-bold;
    @include uppercase;
    letter-spacing: 0.05375rem;
  }

  & p {
    color: $clr-black-50;

    & span {
        color: $clr-orange-dark;
        padding-right: 1.5rem;
        @include fw-bold;
    }
  }
}