@use "../../sass/abstracts" as *;

.related-products {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 7.5rem;

  @media only screen and (min-width: 62.5em) {
    gap: 4rem;
  }

  & .related-products-group {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    @media only screen and (min-width: 35em) {
      flex-direction: row;
      gap: .6875rem;
    }

    @media only screen and (min-width: 62.5em) {
      gap: 1.875rem;
    }
  }

  & .single-related-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  & h2 {
    @include fs-600;
    @include fw-bold;
    @include uppercase;
    letter-spacing: 0.05375rem;

    @media only screen and (min-width: 35em) {
      @include fs-800;
      letter-spacing: 0.07125rem;
    }
  }

  & h3 {
    @include fs-600;
    @include fw-bold;
    @include uppercase;
    letter-spacing: 0.106875rem;

    @media only screen and (min-width: 35em) and (max-width: 40.5em) {
      @include fs-500;
    }
  }

  & picture {

    & img {
      border-radius: .5rem;
    }
  }

}