@use "../../sass/abstracts" as *;

.related-products {
  text-align: center;
  padding-bottom: 2rem;

  & h2 {
    @include fs-500;
    @include fw-bold;
    @include uppercase;
    padding: 1rem 0;
  }

  & h3 {
    @include fs-500;
    @include fw-bold;
    @include uppercase;
    padding: 1rem 0;
  }

  & picture {

    & img {
      border-radius: .5rem;
    }
  }

  & a {
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  }
}